<header style="position: relative; ">
    <div class="grid"> 
        <div class="col-1">
            <div class="logo">
                <img class="animate__animated animate__shakeY" routerLink="/" src="assets/images/b-icon-logo.png" alt="logo" />          
            </div>
        </div>
        <div class="col-2">
            <div class="logo-text animate__animated animate__backInDown">
                <h3 class="animate__animated animate__backInDown" routerLink="/" class="col-1">Brightly</h3>
            </div>        
        </div> 
        <div class="col-4 search"><products-search></products-search></div>
        <div class="col-3 p-offset-1 navigation">
            <brightly-nav></brightly-nav>
        </div>
        <div class="col-1 tools">
            <users-profile-icon></users-profile-icon>
            <orders-cart-icon></orders-cart-icon>
        </div>
        <div class="col-1 tools">
            <i class="pi pi-sign-out p-text-secondary" (click)="logoutUser()" style="font-size: 1.5rem"></i>
        </div>
    </div>
</header>
