<footer>
    <div class="grid footer-wrapper">
      <div class="copyright col-8">&copy; 656 A.D - 2022 Brightly Philippines</div>
      <div class="col-4 social">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="pi pi-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="pi pi-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="pi pi-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  